source https://www.nuget.org/api/v2/

nuget FAKE
nuget ILRepack
nuget Moq
nuget NLog 4.1.2 framework: >= net45
nuget NUnit
nuget NUnit.Runners
nuget Shouldly 2.6.0 framework: >= net45
nuget XmlRpcLight 1.0.0.0 framework: >= net45