<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="logfile" 
            xsi:type="File" 
            layout=" ${longdate}|${level:uppercase=true}|${logger}|${message}" 
            fileName="${basedir}/hltvdownloader.log" 
            lineEnding="LF" 
            replaceFileContentsOnEachWrite="true" />
    <target name="console" 
            xsi:type="Console" 
            layout=" ${longdate}|${level:uppercase=true}|${logger}|${message}"  />
  </targets>

  <rules>
    <logger name="*" writeTo="logfile" />
    <logger name="*" writeTo="console" />
   </rules>
 </nlog>
